<div class="main-login-prompt">
  <h1>Login is required.</h1>
  <button
    mat-raised-button
    color="primary"
    style="margin-bottom: 3px"
    (click)="login()"
  >
    Login
  </button>
</div>
