<mat-toolbar color="primary">
  <a routerLink="" class="mat-toolbar__link">
    <span>My Agile and Lean Life</span></a
  >
  <nav class="mat-toolbar__navbar" *ngIf="auth.user | async as User">
    <ul>
      <li class="toolbar-navbar__list-item">
        <a routerLink="/tasks-list" class="mat-toolbar__link">Tasks list</a>
      </li>
    </ul>
  </nav>
  <button
    *ngIf="auth.user | async as user"
    class="mat-flat-button"
    (click)="logout()"
  >
    Logout
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
