/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: grid;
  height: 100%;
  align-items: center;
  justify-items: center;
  grid-template-rows: auto 0fr 1fr;
}
